.joking {
  display: block;
  margin: 20px;
  border: 2px solid grey;
  padding: 30px;
  border-radius: 25px;
  background-color: #41b3a3;
}

.answer {
  display: block;
  margin: 20px;
  border: 2px solid grey;
  padding: 30px;
  border-radius: 25px;
  background-color: #c38d9e;
}

.allall {
  display: block;
  margin: 20px;
  border: 2px solid grey;
  padding: 30px;
  border-radius: 25px;
  background-color: skyblue;
}

.all {
  display: block;
  margin: 20px;
  border: 2px solid grey;
  padding: 30px;
  border-radius: 25px;
  background-color: #e8a87c;
}

.navbar {
  display: flex;
  background-color: grey;
  height: 10vh;
  list-style-type: none;
}

.navbarDiv:hover {
  background-color: white;
}

.linkItems {
  height: 10vh;
  width: 33.3vw;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
